@model List<PersonModel>

@{
    ViewData["Title"] = "Home Page";
}
    <style>
        th {
            color: red;
        }

        .title {
            color: green;
        }

        button {
            width: 70px;
        }
    </style>
    <div class=title>
        <h3>Table Displaying All Memmber's Information</h3>
    </div>
    <table class="table table-bordered table-responsive table-hover">
        <tr>
            <th> Member Name</th>
            <th> Genger</th>
            <th>Phone Number</th>
            <th> Birth Place</th>
            <th> Day of Birth</th>
            <th> Graduate Status</th>
            <th>Email </th>
            <th>Feature </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td><a href="~/Rookies/Detail/@item.ID" >@(item.FirstName+" "+item.LastName)</a></td>
                <td>@item.Gender</td>
                <td>@item.PhoneNumber</td>
                <td>@item.BirthPlace</td>
                <td>@item.DayOfBirth</td>
                <td>@item.IsGraduated</td>
                <td>@item.Email</td>
                <td>
                    <button> <a href="~/Rookies/Edit/@item.ID"> Edit </a></button>
                    <button onclick="return confirm('Are you sure you want to delete this?')"> <a aria-hidden="true" href="@Url.Action("Delete","Rookies", new {id =item.ID})"> Delete </a></button>
                </td>
                </tr >
            }
        </table >
    </div >
